
body{
    border: 1px solid black;
    padding: 20px;
}
.font-bold{
    font-weight: 700;
}
.form{
    width: 100%;
    padding: 20px 12px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
}
.bg-primary{
    background-color: rgb(132, 132, 233);
    border: 1px solid rgb(79, 79, 209);
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 12px;
}
.text-white{
    color: white;
}